<section>
    <div id="userbar" class=" bannerbar bannerbar-user" style="background-image: url('../../../img/bg5.jpg')">
        <div class="bannerbar-mask">
            <div class="bannerbar-cover">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="media">
                                <a class="pull-left avatar" href="#">
                                    <img class="media-object" src="../../../img/avatar.png">
                                </a>
                                <div class="media-body">
                                    <h2 class="media-heading">{{ userInfo.username }}</h2>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-user-nav">
        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                    <ul class="nav nav-pills">
                        <li><a ng-href="#" title='前往{{ userInfo.username }}的个人主页'><span class="glyphicon glyphicon-home"></span>首页</a></li>
                        <li><a ng-href="#" title="前往{{ userInfo.username }}的所有文章">文章<span class="nub">()</span></a></li>
                        <li><a ng-href="#" title="前往{{ userInfo.username }}的专栏">专栏<span class="nub">()</span></a></li>
                        <li><a ng-href="#" title="前往{{ userInfo.username }}的喜欢">喜欢<span class="nub">()</span></a></li>
                        <li><a ng-href="#" title="前往{{ userInfo.username }}的专题">专题<span class="nub">()</span></a></li>
                        <li><a ng-href="#" title="前往{{ userInfo.username }}的草稿">草稿<span class="nub">()</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="page-header list-header mb20">
                    <h3>
                        <a href="#" class="text-muted">
                            {{ userInfo.username }}的文章
                            <small class="pull-right">更多»</small>
                        </a>
                    </h3>
                </div>
                <div class="row mb20"></div>
                <div class="page-header list-header mb20">
                    <h3>
                        <a href="#" class="text-muted">
                            {{ userInfo.username }}的主题栏目{{ username }}

                            <small class="pull-right">更多»</small>
                        </a>
                    </h3>
                </div>
                <div class="row mb20"></div>
            </div>
        </div>
    </div>
</section>