/*                     *-------------Hello---------------*                     */

/*---------------------------------header styles-------------------------------*/
/*                     *-------------start---------------*                     */
body{
    height:1500px;
}
.wrap{
    width:1000px;
    margin:0 auto;
}
#header{
    position:relative;
    height:170px;
    line-height: 30px;
}
#header .header_top_bg{
    height:30px;
    width:100%;
    background:#cdc6be;
    position:absolute;
    top:0;
    opacity: 0.8;
    z-index:-1;
}
#header .header_top{
    position:relative;
    height:30px;
}
#header .time{
    position:absolute;
    top:0;
    left:0;
    right:0;
    font-size: 14px;
    text-align: center;
    z-index:-1;
}
#header .header_bg{
    height:140px;
    width:100%;
    position:absolute;
    top:30px;
    left:0;
    background:#cdc6be;
    opacity: 0.5;
    z-index:-1;
}
#header .header_logo{
    height:80px;
    margin:10px 0;
}
#header .header_img{
    height:60px;
    margin-left:40px;
}
#header .header_search{
    margin-top: 35px;
    height:36px;
    overflow:hidden;
}
#header_search_in{
    height:32px;
    width:250px;
    text-indent: 5px;
    color:grey;
    border:2px solid #7a0202;
}
#header_search_go{
    height:36px;
    width:60px;
    background:#7a0202;
}
#header_search_go a{
    line-height: 35px;
    margin-left: 10px;
    color:#ff7315;
}
/*header nav*/
#header .header_nav{
    width:100%;
    position:relative;
}
#header .header_nav_side_bg{
    height:40px;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    background:#cdc6be;
    opacity: 0.5;
    z-index:-1;
    display:none;
}
#header .header_nav_wp {
    position:relative;
    height:40px;
}
#header .header_nav_wp .header_nav_ul{
    height:40px;
    margin:0 auto;
    width:1000px;
    background:#ff7315;
}
#header .header_nav_wp .header_nav_ul li{
    float:left;
    width:12.5%;
    height:40px;
    position:relative;
}
#header .header_nav_wp .header_nav_ul li a{
    display:block;
    width:100%;
    height:40px;
    line-height:40px;
    color:#7a0202;
    font-size:20px;
    text-align: center;
    background:transparent;
    position:absolute;
    top:0;
    left:0;
    z-index: 1;
    -moz-user-select:none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select:none;
}
#header .header_nav_wp .header_nav_ul li:nth-child(1) a{
    color:#ff7315;
}
#header .header_nav_wp .header_nav_ul li:hover a{
    color:#ff7315;
    background:#7a0202;
}
#header .header_nav_ul_wp{
    width:100%;
    height:40px;
    background:transparent;
    position:absolute;
    top:0;
    left:0;
    right:0;
    z-index: 10;
}
#header .header_nav_slider1,#header .header_nav_slider2{
    position:absolute;
    top:0;
    left:0;
    z-index:0;
    width:12.5%;
    height:40px;
    background:#7a0202;
}
#header .header_nav_slider .header_nav_slider3{
    width:12.5%;
    height:6px;
    position:absolute;
    bottom:-8px;
    left:0;
    z-index: 1000;
    background:#7a0202;
    display:none;
}
#header .header_nav_slider3 em{
    width:8px;
    height:8px;
    background:#7a0202;
    position:absolute;
    bottom:-4px;
    left:0;
    right:0;
    margin:auto;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*                    *-------------finish---------------*                     */
/*--------------------------------导航下拉菜单---------------------------------*/
/*                    *--------------start---------------*                     */
#header .header_nav_con_wp{
    width:100%;
    height:360px;
    background:#cdc6be;
    opacity: 0.5;
    position:absolute;
    top:40px;
    z-index: 998;
    display:none;
}
#header .header_nav_con{
    position:absolute;
    top:40px;
    left:0;
    right:0;
    margin:auto;
    width:998px;
    height:360px;
    background:url("../materials/images/header_nav_con-931d3bc75bc6.jpg"),no-repeat;
    box-shadow:5px 5px 4px grey;
    border: 1px solid grey;
    border-top: none;
    z-index: 999;
    display:none;
}
#header .header_nav_con div{
    width:100%;
    height:100%;
    display:none;
}
#header .header_nav_con div span{
    width:10%;
    font-size: 30px;
    line-height: 35px;
    font-weight: 600;
    color:#7a0202;
    float:left;
    margin:100px 0;
    text-align: center;
}
#header .header_nav_con ul{
    float:left;
    margin-top:12px;
    width:90%;
}
#header .header_nav_con a{
    -webkit-transition: all 0.5s;
    display: block;
    height:100%;
    width:98%;
    margin:0 1%;
    color:grey;
}
#header .header_nav_con a:hover{
    -webkit-transition: all 0.3s;
    background:rgba(205,198,190,0.5);
    margin:-2px auto;
    box-shadow:3px 3px 2px grey;
}
#header .header_nav_con li{
    width:33.3%;
    height:100px;
    margin:6px 0;
    float:left;
}
#header .header_nav_con li img{
    height:100%;
    float:left;
    margin-right: 5px;
}
#header .header_nav_con li p{
    font-size: 16px;
    line-height: 18px;
    padding-right:5px;
}
#header .header_nav_con .nav_index{
    display:none;
}
#header .header_nav_con .nav_index ul{
    width:100%;
    margin-top:25px;
}
#header .header_nav_con .nav_index li{
    height:75px;
    margin:14px 0;
}
#header .header_nav_con .nav_index li a{
    width:75%;
    padding-left: 25%;
    font-size: 20px;
    line-height: 75px;
    text-indent: 20px;
    margin:0 auto;
}
#header .header_nav_con .nav_index span{
    display: block;
    height:75px;
    width:74px;
    float:left;
    margin:0;
    background:url("../materials/images/header_nav_con_index-4fc1b17708c3.png");
}
#header .header_nav_con .nav_index li a:hover{
    -webkit-transition: all 0.3s;
    background:rgba(205,198,190,0.5);
    margin:-2px auto;
    box-shadow:3px 3px 2px grey;
}
/*                    *-------------finish---------------*                     */
/*----------------------------------The End-------------------------------------*/

/*                     *-------------World---------------*                      */