.wrap {
  font-family: "微软雅黑";
  width: 100%;
  min-height: 100px;
}
.wrap header {
  width: 100%;
  background: #ccc;
  height: 50px;
}
.wrap header span {
  display: block;
  line-height: 50px;
  text-align: center;
  color: white;
}
.wrap section {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  height: 5500px;
}
.wrap section .servicepage {
  margin: 0 auto;
  width: 100%;
}
.wrap section .servicepage .servicebanner {
  float: left;
  width: 100%;
  background: url(../img/service/servicebg01-f9789810651a.jpg);
  background-size: cover;
  background-position: center center;
  height: 960px;
  position: relative;
  z-index: 1;
}
.wrap section .servicepage .servicebanner .bannertext {
  position: absolute;
  width: 856px;
  left: 50%;
  margin-left: -428px;
  top: 20%;
}
.wrap section .servicepage .servicebanner .bannertext h2 {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 36px;
  color: #fafafa;
  letter-spacing: 0;
}
.wrap section .servicepage .servicebanner .bannertext p {
  float: left;
  width: 100%;
  font-size: 14px;
  text-align: center;
  color: #fff;
  line-height: 27px;
  margin-top: 15%;
  animation-timing-function: ease;
  animation-duration: 2s;
}
.wrap section .part1 {
  overflow: hidden;
  float: left;
  width: 100%;
  height: 1780px;
  background: url(../img/service/servicebg02-6b61abeb6f9d.png) no-repeat center top;
  margin-top: -686px;
  position: relative;
  z-index: 2;
}
.wrap section .part1 .blockinner {
  width: 960px;
  margin: 0 auto;
  margin-top: 700px;
}
.wrap section .part1 .blockinner .textbox {
  float: left;
  margin-top: 60px;
  width: 375px;
  animation-timing-function: ease;
  animation-duration: 2s;
  transition: all 2s;
}
.wrap section .part1 .blockinner .textbox h2 {
  float: left;
  width: 100%;
  margin-bottom: 50px;
}
.wrap section .part1 .blockinner .textbox p {
  animation-delay: 0.5s;
  float: left;
  width: 100%;
  font-size: 14px;
  color: #fff;
  line-height: 22px;
}
.wrap section .part1 .blockinner .imgbox {
  opacity: 0;
  float: left;
  width: 560px;
  margin: 40px 0 0 25px;
  position: relative;
  height: 440px;
  animation-timing-function: ease;
  animation-duration: 2s;
  transition: all 2s;
}
.wrap section .part1 .blockinner .imgbox .img01 {
  position: absolute;
  buttom: 0;
  left: 10px;
}
.wrap section .part2 {
  float: left;
  width: 100%;
  height: 1679px;
  background: url(../img/service/servicebg03-52c3966cf2da.png);
  background-size: cover;
  background-position: center center;
  margin-top: -600px;
  position: relative;
  z-index: 2;
}
.wrap section .part2 .blockinner {
  width: 960px;
  margin: 0 auto;
  margin-top: 240px;
}
.wrap section .part2 .blockinner .imgbox {
  opacity: 0;
  float: left;
  width: 540px;
  position: relative;
  height: 680px;
  animation-delay: 0.5s;
  animation-timing-function: ease;
  animation-duration: 2s;
}
.wrap section .part2 .blockinner .imgbox .img01 {
  margin-top: 340px;
}
.wrap section .part2 .blockinner .textbox {
  float: left;
  width: 375px;
  margin-top: 335px;
  margin-left: 45px;
  animation-delay: 0.5s;
  animation-timing-function: ease;
  animation-duration: 2s;
  transition: all 2s;
}
.wrap section .part2 .blockinner .textbox h2 {
  float: left;
  width: 100%;
  margin-bottom: 50px;
}
.wrap section .part2 .blockinner .textbox p {
  animation-delay: 0.5s;
  float: left;
  width: 100%;
  font-size: 14px;
  color: #000000;
  line-height: 22px;
}
.wrap section .part3 {
  float: left;
  width: 100%;
  height: 1679px;
  background: url(../img/service/servicebg02-6b61abeb6f9d.png);
  background-size: cover;
  background-position: center center;
  margin-top: -760px;
  position: relative;
  z-index: 2;
}
.wrap section .part3 .blockinner {
  width: 960px;
  margin: 0 auto;
  margin-top: 440px;
}
.wrap section .part3 .blockinner .textbox {
  float: left;
  margin-top: 150px;
  width: 375px;
  animation-timing-function: ease;
  animation-duration: 2s;
  transition: all 2s;
}
.wrap section .part3 .blockinner .textbox h2 {
  float: left;
  width: 100%;
  margin-bottom: 50px;
}
.wrap section .part3 .blockinner .textbox p {
  animation-delay: 0.5s;
  float: left;
  width: 100%;
  font-size: 14px;
  color: #fff;
  line-height: 22px;
}
.wrap section .part3 .blockinner .imgbox {
  opacity: 0;
  float: left;
  width: 560px;
  margin: 10px 0 0 25px;
  position: relative;
  height: 440px;
  animation-timing-function: ease;
  animation-duration: 2s;
}
.wrap section .part3 .blockinner .imgbox .img01 {
  position: absolute;
  bottom: -100px;
  left: 0px;
  animation-duration: 3s;
}
.wrap section .part3 .blockinner .imgbox .img02 {
  animation-duration: 2s;
  position: absolute;
  bottom: 40px;
  right: -50px;
}
.wrap section .part4 {
  float: left;
  width: 100%;
  height: 1679px;
  background: url(../img/service/servicebg03-52c3966cf2da.png);
  background-size: cover;
  background-position: center center;
  margin-top: -810px;
  position: relative;
  z-index: 2;
}
.wrap section .part4 .blockinner {
  width: 960px;
  margin: 0 auto;
  margin-top: 440px;
}
.wrap section .part4 .blockinner .imgbox {
  opacity: 0;
  float: left;
  width: 465px;
  position: relative;
  height: 338px;
  margin-left: -140px;
  margin-top: 80px;
  animation-timing-function: ease;
  animation-duration: 2s;
}
.wrap section .part4 .blockinner .textbox {
  float: left;
  width: 375px;
  margin-left: 260px;
  margin-top: 80px;
  animation-timing-function: ease;
  animation-duration: 2s;
  transition: all 2s;
}
.wrap section .part4 .blockinner .textbox h2 {
  float: left;
  width: 100%;
  margin-bottom: 50px;
}
.wrap section .part4 .blockinner .textbox p {
  animation-delay: 0.5s;
  float: left;
  width: 100%;
  font-size: 14px;
  color: #000000;
  line-height: 22px;
}
.wrap section .part5 {
  float: left;
  width: 100%;
  height: 1600px;
  background: url(../img/service/servicebg02-6b61abeb6f9d.png);
  background-size: cover;
  background-position: center center;
  margin-top: -745px;
  position: relative;
  z-index: 2;
}
.wrap section .part5 .blockinner {
  width: 960px;
  margin: 0 auto;
  margin-top: 140px;
}
.wrap section .part5 .blockinner .textbox {
  float: left;
  width: 375px;
  margin-top: 480px;
  animation-timing-function: ease;
  animation-duration: 2s;
  transition: all 2s;
}
.wrap section .part5 .blockinner .textbox h2 {
  float: left;
  width: 100%;
  margin-bottom: 50px;
}
.wrap section .part5 .blockinner .textbox p {
  animation-delay: 0.5s;
  float: left;
  width: 100%;
  font-size: 14px;
  color: #fff;
  line-height: 22px;
}
.wrap section .part5 .blockinner .imgbox {
  opacity: 0;
  float: left;
  width: 485px;
  position: relative;
  height: 440px;
  margin-left: 100px;
  margin-top: 400px;
  animation-timing-function: ease;
  animation-duration: 2s;
}
.wrap section .part5 .blockinner .imgbox .img01 {
  position: absolute;
  top: 0px;
  left: 40px;
}
.wrap section .part6 {
  float: left;
  width: 100%;
  margin-top: -450px;
  position: relative;
  height: 1780px;
  z-index: 6;
}
.wrap section .part6 .blockinner {
  margin-top: -17px;
  float: right;
  margin-right: 183px;
}
.wrap section .part6 .blockinner span {
  display: block;
  width: 231px;
  height: 37px;
  background: url(../img/service/btn-c4ea70060bdc.png);
  background-position: 0 74px;
}
