.cont {
  width: 100%;
}
.cont .smallBanner {
  min-width: 1200px;
  height: 200px;
  overflow: hidden;
  position: relative;
}
.cont .smallBanner .bannerImg {
  height: 470px;
  width: 100%;
}
.cont .smallBanner .bannerText {
  position: absolute;
  left: 35%;
  top: 60%;
  z-index: 2;
  color: #eeeeee;
  font-size: 36px;
}
.cont .tabs {
  width: 100%;
  height: 150px;
  margin: 0 auto;
}
.cont .tabs .tabs-ico {
  width: 1000px;
  margin: 0 auto;
}
.cont .tabs .tabs-ico p {
  display: inline-block;
  padding: 40px 100px;
  width: 120px;
  text-align: center;
}
.cont .tabs .tabs-ico p span {
  display: block;
  text-align: center;
  margin-top: 10px;
}
.cont .tabs .tabs-ico p img {
  width: 50%;
  height: 50%;
}
.cont .logos {
  min-width: 1200px;
}
.cont .logos .logos_one {
  font-size: 0;
}
.cont .logos .logos_one li {
  perspective: 1000px;
  display: inline-block;
  width: 25%;
  height: 25%;
  box-sizing: border-box;
  position: relative;
}
.cont .logos .logos_one li .rotate1 {
  transform: rotateY(0);
  transition: all 0.5s ease-in-out 0s;
}
.cont .logos .logos_one li .rotate1 img {
  vertical-align: top;
  width: 100%;
}
.cont .logos .logos_one li:hover .rotate1 {
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  -o-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}
.cont .logos .logos_one li .rotate2 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
  transition: all 0.5s ease-in-out 0s;
}
.cont .logos .logos_one li .rotate2 img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.cont .logos .logos_one li:hover .rotate2 {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.cont .Customer {
  position: fixed;
  top: 200px;
  right: -100px;
  transition: all 1s;
}
