//cantact css��ʽ

@import url('index-09ce7006b4f8.less');
body {
  margin: 0;
  padding: 0;
}

.contact {
  .contact1 {
    background: url("../images/grass-03f1b2881380.jpg") no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
    padding: 100px 0;
    h1 {
      font-size: 42px;
      color: #fff;
      text-align: center;
      margin-top:-40px;
      margin-bottom: 40px;
      font-family: @font-family;
    }
    .container {
      .contact-text {
        h3{
          color: @text-color;
          font-weight: bold;
          font-family: @font-family;
        }
        p {
          margin-top: 18px;
          color: #FFFFFF;
          font-size: 20px;
        }
      }
    }
  }
}

.contact-form {
  padding: 50px 0;
  color: #FFFFFF;
  background: url("../images/green-9faf8c3ee470.jpg") no-repeat;
  background-size: 100% 100%;
  background-position: center;
  .contact-form-text {
    text-align: center;
    h1 {
      font-size: 42px;
      font-family: @font-family;
    }
    p {
      font-size: 25px;
      padding: 0 0 50px;
    }
  }
  .container {
    .row {
      font-size: 20px;
      button, input, textarea {
        background-color: transparent;
        border: 1px solid transparent;
      }
      input {
        margin-bottom: 20px;
        height: 60px;
      }
      textarea{
        display: block;
        height: 200px;
      }
      button {
        border: solid 1px #f1f1f1;
        border-radius: 10px;
        width: 140px;
        height: 60px;
        margin-top: 30px;
        margin-bottom: 50px;
        font-size: 30px;
        font-family: @font-family;
        &:hover{
          background-color: white;
          color: #18bc9c;
        }
      }
      .form-control {
        background-color: rgba(255, 255, 255, 0.18);
        border: 1px solid transparent;
        border-radius: 2px;
        padding: 16px 12px;
        font-size: 28px;
      }
    }
  }
}
