<div class="settingbar">
    <div class="container">
        <h1 class="mb40">
            个人设置
            <small class="pull-right"><a href="#" class="text-muted">返回个人主页</a></small>
        </h1>
        <div class="panel-group settingbar-panel mb120" id="accordion">
            <!-- panel one -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title clearfix">
                        <!-- handle -->
                        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                            个人资料
                            <span class="pull-right">展开<span class="glyphicon glyphicon-chevron-down"></span></span>
                        </a>
                        <span ng-bind="userInfo.username" id="lab_name" class="panel-info"></span>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body form-horizontal">
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">昵称</label>
                            <div class="col-sm-4">
                                <input ng-model="username" class="form-control"
                                       id="username" name="username" type="text" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">个人介绍</label>
                            <div class="col-sm-7">
                                <textarea ng-model="description" class="form-control"
                                          id="description" rows="4" name="description"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="location" class="col-sm-2 control-label">居住地</label>
                            <div class="col-sm-4">
                                <input ng-model="location" class="form-control"
                                       id="location" name="location" type="text" placeholder="填写城市名称，多个以”,“隔开" >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <span ng-click="submit('btn_uinfo')" id="btn_uinfo" class="btn btn-primary">保存</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- panel two -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <!-- handle -->
                        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
                            头像
                                <span class="pull-right">
                                    展开
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </span>
                        </a>
                    </h4>
                    <div class="panel-info"><span class="avatar"><img id="head_s"
                                                                      src="../../../img/avatar.png"></span></div>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <div class="col-sm-4 text-right">
                                        <span class="avatar avatar150">
                                          <img id="head_b" src="../../../img/avatar.png"
                                               class="img-circle img-responsive">
                                        </span>
                                </div>
                                <div class="col-sm-8">
                                    <button id="btn_head" class="btn btn-default btn-lg">选择头像</button>
                                    <input id="f_head" type="file" style="display:none;" name="head">
                                    <p class="help-block">支持 JPG、PNG、GIF 格式，不要超过 2M 。</p>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <!-- panel three -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
                            登录邮箱
                            <span class="pull-right">展开<span class="glyphicon glyphicon-chevron-down"></span></span>
                        </a>
                    </h4>
                    <div ng-bind="userInfo.email" id="lab_mail" class="panel-info"></div>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body form-horizontal">
                        <div class="form-group">
                            <label for="p_mail" class="col-sm-2 control-label">当前邮箱</label>
                            <div class="col-sm-4">
                                <p ng-bind="userInfo.email" id="p_mail" class="form-control-static"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mailNew" class="col-sm-2 control-label">新邮箱</label>
                            <div class="col-sm-4">
                                <input ng-model="newEmail" id="mailNew" type="text" class="form-control" name="mailNew">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">登录密码</label>
                            <div class="col-sm-4">
                                <input ng-model="currentPassword" id="password" type="password" class="form-control" name="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <span ng-click="submit('btn_mail')" id="btn_mail" class="btn btn-primary">保存</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- panel four -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour">
                            密码
                            <span class="pull-right">展开<span class="glyphicon glyphicon-chevron-down"></span></span>
                        </a>
                    </h4>
                    <div class="panel-info">******</div>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body form-horizontal">
                        <div class="form-group">
                            <label for="passwordOld" class="col-sm-2 control-label">当前密码</label>
                            <div class="col-sm-4">
                                <input ng-model="oldPwd" id="passwordOld" type="password" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="passwordNew" class="col-sm-2 control-label">新密码</label>
                            <div class="col-sm-4">
                                <input ng-model="newPwd" id="passwordNew" type="password" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="repwdNew" class="col-sm-2 control-label">确认新密码</label>
                            <div class="col-sm-4">
                                <input ng-model="repPwd" id="repwdNew" type="password" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <span ng-click="submit('btn_pwd')" id="btn_pwd" class="btn btn-primary">保存</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- panel five -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive">
                            个性网址
                            <span class="pull-right">展开<span class="glyphicon glyphicon-chevron-down"></span></span>
                        </a>
                    </h4>
                    <div class="panel-info">yuelvxing.com/u/</div>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <label for="pdomain"
                                       class="col-sm-2 control-label text-right">yuelvxing.com/u/</label>
                                <div class="col-sm-10">
                                    <input id="pdomain" type="text" class="form-control" value=""
                                           style="width:40%;">
                                    <span class="help-block">个性网址只能包含小写字母和阿拉伯数字，并且必须为以小写字母开头，长度在4到12个字符之间</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <span id="btn_pdomain" class="btn btn-primary">保存</span>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <!-- panel seven -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseSeven">
                            周刊订阅
                            <span class="pull-right">展开<span class="glyphicon glyphicon-chevron-down"></span></span>
                        </a>
                    </h4>
                    <div class="panel-info">未订阅悦旅行周刊</div>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse">
                    <div class="panel-body form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label text-right">当前状态</label>
                                <div class="col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input name="subscribe" type="checkbox">
                                            订阅悦旅行周刊
                                        </label>
                                    </div>
                                    <p class="help-block">注：有可能在你修改订阅状态时，当期周刊的邮件发送队列已经生成，直到下一期周刊发送的时候，你的更改才能生效</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <span id="btn_sub" class="btn btn-primary">保存</span>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>