.bannerbar {
  position: relative;
  width: 100%;
  min-height: 280px;
  margin-bottom: 50px;
  background: #000000 url("../../img/loading.gif") center center no-repeat;
}
.bannerbar-user {
  display: table;
  width: 100%;
  height: auto;
  margin-bottom: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.bannerbar-user .bannerbar-mask {
  padding-top: 100px;
  overflow: hidden;
  display: table-cell;
  vertical-align: bottom;
}
.bannerbar-user .bannerbar-mask .bannerbar-cover {
  color: #fff;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0.1) 70%, transparent 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0.1) 70%, transparent 100%);
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0.1) 70%, transparent 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0.1) 70%, transparent 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0.1) 70%, transparent 100%);
}
.bannerbar-user .container {
  color: #fff;
  padding-bottom: 40px;
  padding-top: 20px;
}
.bannerbar-user .media {
  margin: 0;
  padding: 0;
  display: table;
}
.bannerbar-user .media .media-body {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.bannerbar-user .media .media-body h2 {
  font-weight: bold;
  color: #fff;
}
.bannerbar-user .avatar {
  width: 156px;
  height: 156px;
  border: 3px solid #fff;
  margin-right: 30px;
}
.bannerbar-user .avatar img {
  width: 150px;
  height: 150px;
}
.banner-user-nav {
  background: #e9e9e9;
  margin-bottom: 50px;
}
.banner-user-nav .navbar {
  margin-bottom: 0;
  min-height: 35px;
  border: none;
  border-radius: 0;
}
.banner-user-nav .navbar-inner {
  background: #e9e9e9;
}
/*页面标题*/
.list-header {
  border-top: 1px solid #eee;
  padding: 0;
  margin: 0 0 20px 0;
}
.list-header h3 {
  font-size: 14px;
  color: #333;
  margin: 0;
  padding: 12px 0;
}
.list-header h3 a {
  display: block;
  color: #333;
}
.list-header h3 a small {
  font-size: 14px;
  color: #999;
}
.list-header h3 a small span {
  font-size: 12px;
  line-height: 14px;
}
.list-header h3 a:hover,
.list-header h3 a:hover small {
  color: #333;
  text-decoration: none;
}
.list-header-small {
  border: none;
  margin-bottom: 10px;
}
.list-header-small h3 {
  padding: 5px 0;
}
/*个人设置*/
.settingbar {
  background: #f3f3f3;
}
.settingbar .container {
  max-width: 767px;
}
.settingbar .container h1 {
  margin-top: 40px;
  margin-bottom: 0;
  padding-bottom: 10px;
  border-bottom: 3px double #e4e4e4;
}
.settingbar .container h1 small {
  font-size: 14px;
  margin-top: 24px;
}
.settingbar-panel .panel-heading {
  position: relative;
  padding: 0;
  border: none;
  background: #f3f3f3;
}
.settingbar-panel .panel-heading h4 a {
  padding: 17.5px 15px;
}
.settingbar-panel .panel-heading h4 a:hover {
  background: #e9e9e9;
}
.settingbar-panel .panel-title {
  font-size: 14px;
}
.settingbar-panel .panel-title a {
  display: block;
  color: #777;
}
.settingbar-panel .panel-title a:hover {
  color: #333;
  text-decoration: none;
}
.settingbar-panel .panel-title a span {
  display: inline-block;
  line-height: 1;
}
.settingbar-panel .panel-title a span.glyphicon {
  font-size: 12px;
}
.settingbar-panel .panel-info {
  position: absolute;
  top: 0;
  left: 135px;
  line-height: 50px;
  font-size: 14px;
  font-weight: bold;
}
.settingbar-panel .panel-info .avatar {
  width: 30px;
  height: 30px;
  border: none;
  background: #f3f3f3;
  line-height: 1;
}
.settingbar-panel .panel-info .avatar img {
  width: 30px;
  height: 30px;
}
.settingbar-panel .form-group {
  margin-top: 15px;
}
.settingbar-panel .opennav p {
  margin-bottom: 15px;
  border-bottom: 1px solid #f3f3f3;
  padding-bottom: 15px;
}
.settingbar-panel .opennav a {
  padding: 0;
}
.settingbar-panel .bannerbg {
  display: block;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}
.settingbar-panel.panel-group .panel {
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #e4e4e4;
}
.settingbar-panel.panel-group .panel + .panel {
  margin-top: 0;
}
