/*custom font*/
@font-face {
  font-family: 'mediumicon';
  src: url('../fonts/medium-icons.eot');
  src: url('../fonts/medium-icons.eot?#iefix') format('embedded-opentype'), url('../fonts/medium-icons.woff') format('woff'), url('../fonts/medium-icons.ttf') format('truetype'), url('../fonts/medium-icons.svg#mediumicon') format('svg');
}
/*color*/
/*unit*/
.btn {
  padding: 7.5px 26px;
  border: none;
}
.btn-link {
  color: #999;
  padding: 7.5px;
}
.btn-default {
  color: #333333;
  background-color: #eee;
}
.btn-default:hover {
  color: #FFFFFF;
}
.btn-primary {
  color: #333;
  background-color: #fcda15;
}
.btn-primary:hover,
.btn-primary.disabled:hover {
  color: #FFFFFF;
  background-color: #fcce18;
}
/*间距*/
.mb10 {
  margin-bottom: 10px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb60 {
  margin-bottom: 60px;
}
.mt120 {
  margin-top: 65px;
}
.mb120 {
  margin-bottom: 120px;
}
.mbclear {
  margin-bottom: 0;
}
.mt30 {
  margin-top: 30px;
}
.mt20 {
  margin-top: 20px;
}
.pt20 {
  padding-top: 20px;
}
.siderbar-left {
  padding-right: 40px;
}
@media (max-width: 991px) {
  .siderbar {
    padding-right: 0;
  }
}
.siderbar {
  padding-left: 40px;
}
@media (max-width: 991px) {
  .siderbar {
    padding-left: 0;
  }
}
/*输入框*/
textarea:focus,
input:focus {
  border-color: rgba(247, 193, 16, 0.8);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(247, 193, 16, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(247, 193, 16, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(247, 193, 16, 0.6);
}
.form-control:focus {
  border-color: rgba(247, 193, 16, 0.8);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(247, 193, 16, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(247, 193, 16, 0.6);
}
/*fix-right*/
/*navbar*/
.nav-top {
  background: #fff;
  /*navbar-fixed*/
  /*navbar-normal*/
  /*navbar*/
}
.nav-top .navbar.navbar-fixed-top {
  margin-top: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.nav-top .navbar.navbar-fixed-top .navbar-header a.navbar-brand {
  width: 73px;
  height: 25px;
  margin: 12px 15px 0;
  background: url(../img/logo-small.png) center no-repeat;
}
.nav-top .navbar.navbar-fixed-top .navbar-collapse .navbar-nav li > a {
  font-size: 14px;
  padding: 15px 10px 14px;
}
.nav-top .navbar.navbar-fixed-top .navbar-collapse .navbar-right {
  margin-right: 15px;
}
.nav-top .navbar.navbar-fixed-top .navbar-collapse .navbar-right .navbar-btn {
  margin: 9px 0 0 10px;
  padding: 5px 16px;
}
.nav-top .navbar.navbar-fixed-top .navbar-collapse .navbar-right .btn-icon {
  padding: 5px;
}
.nav-top .navbar .navbar-header a.navbar-brand {
  width: 87px;
  height: 30px;
  margin: 2px 20px 0 0;
  background: url(../img/logo.png) center no-repeat;
}
.nav-top .navbar .navbar-nav li a {
  padding: 8px 15px;
  font-size: 16px;
  color: #777777;
}
.nav-top .navbar .navbar-nav li a:hover {
  color: #FFFFFF;
  background: #fdcb14;
  border-radius: 5px;
}
.nav-top .navbar .navbar-nav li.active a {
  color: #fdcb14;
  background: #FFFFFF;
}
.nav-top .navbar .navbar-nav li.active a:hover {
  background: #FFFFFF;
}
.nav-top .navbar .navbar-nav .navbar-btn {
  margin: 0 0 0 10px;
}
.nav-top .navbar-default {
  background: #fff;
  border: none;
  margin-bottom: 0;
  border-radius: 0;
  min-height: 50px;
  margin-top: 20px;
}
/*footer*/
footer {
  padding: 40px 0;
  font-size: 12px;
  line-height: 25px;
}
footer .navbar-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  min-height: 50px;
  border: 0;
  border-radius: 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.1);
}
footer .pager {
  margin: 8px 0 8px 15px;
}
footer .pager li > a {
  padding-top: 7px;
  border-radius: 5px;
}
footer .pager li > a:hover {
  background-color: #FFFFFF;
}
footer .pager li > a:first-child {
  padding-right: 18px;
}
footer .pager li > a:last-child {
  padding-left: 18px;
}
footer .pager .btn-default {
  border: 1px solid #EEEEEE;
  background-color: #FFFFFF;
}
footer .pager .btn-default:hover {
  color: #fcda15;
}
footer .pull-right {
  margin-right: 15px;
}
/*fixed-sidebar*/
.fixed-sidebar {
  /* weixin */
  /* goTop */
}
.fixed-sidebar > div {
  position: fixed;
  z-index: 2;
  padding: 10px 14px;
  background: #EEEEEE;
  color: #999999;
  border: 0;
}
.fixed-sidebar > div:hover {
  background: #e9e9e9;
  color: #333;
  text-decoration: none;
}
.fixed-sidebar > div:active {
  background: #e4e4e4;
}
.fixed-sidebar .fixed-sidebar-feedback {
  bottom: 101px;
  right: 20px;
  border-radius: 4px 4px 0 0;
}
.fixed-sidebar .fixed-sidebar-weixin {
  bottom: 60px;
  right: 20px;
  border-radius: 0;
}
.fixed-sidebar .fixed-sidebar-weixin:hover {
  background: #e9e9e9;
  color: #333;
  text-decoration: none;
}
.fixed-sidebar .fixed-sidebar-weixin:active {
  background: #e4e4e4;
}
.fixed-sidebar .fixed-sidebar-weixin .weixinbox {
  position: absolute;
  right: 43px;
  bottom: -40px;
}
.fixed-sidebar .fixed-sidebar-weixin .panelbox {
  box-shadow: none;
  border-color: #eee;
  margin-bottom: 40px;
}
.fixed-sidebar .fixed-sidebar-gotop {
  bottom: 19px;
  right: 20px;
  border-radius: 0 0 4px 4px;
}
