<% $.each(list,function(i,value){ %>
<div class="col-sm-6">
    <div class="thumbnail list-theme list-theme-post">
        <a href="#">
            <img class="img-responsive cover2 lazy" src="<%=value.imgSrc%>" data-original="<%=value.imgSrc%>" alt="<%=value.title%>">
        </a>
        <div class="caption">
            <p>
                <small><a href="#" title="前往 探美食" class="text-muted">探美食</a></small>
            </p>
            <h3><a href="#"><%=value.title%></a></h3>
            <span class="avatar avatar40">
                <a href="#" title="前往 悦旅行的主页">
                    <img class="img-circle img-responsive" src="./img/avatar/avatar.png" alt="悦旅行">
                </a>
            </span>
            <p class="text-right">
                <small class="text-muted"><a href="#" class="text-muted">悦旅行</a></small>
            </p>
        </div>
    </div>
</div>
<% }) %>