body {
  font-family: 'Raleway', sans-serif;
}
.header .navbar-default {
  background-color: rgba(60, 118, 61, 0.4);
  border-radius: 0;
  border-color: transparent;
}
.header .navbar-default .navbar-header {
  border: none;
}
.header .navbar-default .navbar-header button:hover {
  background-color: rgba(60, 118, 61, 0.4);
  border: none;
}
.header .navbar-default .navbar-header button:focus {
  background-color: rgba(60, 118, 61, 0.4);
  border: none;
}
.header .navbar-default .navbar-header .navbar-brand {
  color: #ffffff;
  font-size: 28px;
}
.header .navbar-default .navbar-header .navbar-brand:hover {
  color: #B9ECBA;
}
.header .navbar-default .navbar-collapse {
  border: none;
}
.header .navbar-default .navbar-collapse .navbar-nav li a {
  color: #ffffff;
  font-size: 16px;
  display: block;
}
.header .navbar-default .navbar-collapse .navbar-nav li a:hover {
  color: #555;
  background-color: #e7e7e7;
}
.header .navbar-default .navbar-collapse .navbar-nav li a.active {
  color: #555;
  background-color: #e7e7e7;
}
.banner .carousel {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.banner .carousel .carousel-inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.banner .carousel .carousel-inner .item {
  width: 100%;
  height: 100%;
}
.banner .carousel .carousel-inner .item img {
  width: 100%;
  height: 100%;
}
.banner .carousel .banner-text {
  text-align: center;
  z-index: 1;
}
.banner .carousel .banner-text ul li {
  display: inline-block;
  position: relative;
  top: -200px;
  bottom: 0;
  padding: 0 10px;
}
.banner .carousel .banner-text ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #c6c9ac;
}
.banner .carousel .banner-text ul li a:hover {
  color: #ffffff;
}
.home-content .content {
  padding: 50px 0;
}
.home-content .content .begin h3 {
  font-size: 32px;
  color: #2ad2c9;
}
.home-content .content .begin p {
  font-size: 16px;
}
.home-content .content .row figure {
  padding: 30px 0;
}
.home-content .content .row figure:hover .icon:before {
  transform: scale(1);
}
.home-content .content .row figure figcaption h5 {
  color: #2ad2c9;
}
.home-content .content .row figure .icon {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #2ad2c9;
  border-radius: 50%;
  margin: 0 auto;
  transition: all .5s;
}
.home-content .content .row figure .icon:before {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #b2dba1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  transition: all 0.3s ease 0s;
}
.home-content .content .row figure .rotate {
  animation: rotate 3s ease-in;
}
.home-content .content .row figure span {
  color: #ffffff;
  font-size: 42px;
  margin-top: 25px;
  z-index: 9999;
}
.home-content2 .pests {
  background: url("../images/wheat-70f209f8a1b9.jpg") no-repeat;
  background-size: cover;
  min-height: 620px;
  padding-top: 80px;
}
.home-content2 .pests .pests-header h3 {
  color: #b2dba1;
}
.home-content2 .pests .pests-header p {
  font-size: 16px;
  color: #ffffff;
}
.home-content2 .pests .ch-grid {
  margin: 50px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}
.home-content2 .pests .ch-grid .pests-grid {
  width: 100%;
  height: 302px;
  display: inline-block;
}
.home-content2 .pests .ch-grid .pests-grid .ch-item {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-box-shadow: 0 1px 2px #000000;
  -moz-box-shadow: 0 1px 2px #000000;
  box-shadow: 0 1px 2px #000000;
  cursor: default;
}
.home-content2 .pests .ch-grid .pests-grid .ch-item:hover .ch-info-wrap {
  -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0.8), inset 0 0 3px rgba(115, 114, 23, 0.8);
  -moz-box-shadow: 0 0 0 rgba(255, 255, 255, 0.8), inset 0 0 3px rgba(115, 114, 23, 0.8);
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.8), inset 0 0 3px rgba(115, 114, 23, 0.8);
}
.home-content2 .pests .ch-grid .pests-grid .ch-item:hover .ch-info {
  -webkit-transform: rotate3d(0, 1, 0, -180deg);
  -moz-transform: rotate3d(0, 1, 0, -180deg);
  -ms-transform: rotate3d(0, 1, 0, -180deg);
  -o-transform: rotate3d(0, 1, 0, -180deg);
  transform: rotate3d(0, 1, 0, -180deg);
}
.home-content2 .pests .ch-grid .pests-grid .ch-item .ch-info-wrap {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 89%;
  height: 262px;
  prespective: 800px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: #ffffff;
  -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), inset 0 0 3px rgba(115, 114, 23, 0.8);
  -moz-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), inset 0 0 3px rgba(115, 114, 23, 0.8);
  box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), inset 0 0 3px rgba(115, 114, 23, 0.8);
}
.home-content2 .pests .ch-grid .pests-grid .ch-item .ch-info {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.home-content2 .pests .ch-grid .pests-grid .ch-item .ch-info h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 28px;
  margin: 0 8px 23px 8px;
  padding: 67px 0 0 0;
  text-shadow: 0 0 1px #ffffff, rgba(0, 0, 0, 0.3);
}
.home-content2 .pests .ch-grid .pests-grid .ch-item .ch-info p {
  line-height: 1.8em;
  color: #020202;
  padding: 10px 5px;
  margin: 0 30px;
  font-size: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.home-content2 .pests .ch-grid .pests-grid .ch-item .ch-info > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.home-content2 .pests .ch-grid .pests-grid .ch-item .ch-info .ch-info-back {
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  -moz-transform: rotate3d(0, 1, 0, 180deg);
  -ms-transform: rotate3d(0, 1, 0, 180deg);
  -o-transform: rotate3d(0, 1, 0, 180deg);
  transform: rotate3d(0, 1, 0, 180deg);
  background: #2ad2c9;
}
.home-content2 .pests .ch-img-1 {
  background-image: url("../images/pests1-8cd8b37f7e70.jpg");
  background-size: cover;
}
.home-content2 .pests .ch-img-2 {
  background: url("../images/pests2-04f5502cfae7.jpg");
  background-size: cover;
}
.home-content2 .pests .ch-img-3 {
  background: url("../images/pests3-996093a0f69a.jpg");
  background-size: cover;
}
section figure {
  margin: 0;
  position: relative;
}
section figure:hover figcaption {
  opacity: 1;
  transform: scale(1);
}
section figure:hover img {
  transform: scale(0.56);
}
section figure img {
  position: relative;
  display: block;
  max-width: 100%;
  transition: all .5s;
  z-index: 10;
}
section figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(44, 78, 44, 0.21);
  padding: 5px 20px 0 20px;
  width: 100%;
  height: 100%;
  transform: scale(0);
  opacity: 0;
  transition: opacity 0.5s;
}
section figure figcaption b {
  font-size: 20px;
  font-family: 'Poiret One', cursive;
  color: #ffffff;
  display: block;
}
section figure figcaption span {
  font-size: 14px;
  display: block;
  margin-top: -15px;
}
section .about-us {
  color: #ffffff;
  padding: 100px 0;
  overflow: hidden;
  height: auto;
  background: url("../images/fog-a4a3d954f27c.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
}
section .about-us .about-text {
  font-size: 19px;
  line-height: 1.7em;
}
section .about-us .about-text h1 {
  font-size: 42px;
  font-family: 'Poiret One', cursive;
  margin-bottom: 50px;
}
section .content1 {
  background: url("../images/leaf-b4726a61cee2.jpg") no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
  padding: 50px 0;
  color: #718e04;
}
section .content1 h3 {
  font-size: 28px;
  font-family: 'Poiret One', cursive;
}
section .content1 hr {
  width: 200px;
  background-color: #718e04;
  border: none;
  height: 1px;
  margin-left: 0;
}
section .content1 p {
  font-size: 19px;
}
section .content2 {
  background: url("../images/rain-a201fd7a1970.jpg") no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
  padding: 50px 0;
  color: #ffffff;
}
section .content2 b {
  font-size: 20px;
  font-family: 'Poiret One', cursive;
  color: #ffffff;
}
section .content2 hr {
  width: 200px;
  margin-left: 0;
}
section .content2 p {
  font-size: 19px;
}
section .content3 {
  background: url("../images/leaf-b4726a61cee2.jpg") no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
  padding: 50px 0;
  color: #718e04;
}
section .content3 h3 {
  font-size: 28px;
  font-family: 'Poiret One', cursive;
}
section .content3 hr {
  width: 200px;
  background-color: #718e04;
  border: none;
  height: 1px;
  margin-left: 0;
}
section .content3 p {
  font-size: 19px;
}
.smallright {
  position: fixed;
  right: 0px;
  top: 200px;
  z-index: 999;
  margin-right: -45px;
  transition: all 1s;
}
.smallright .smallogo {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 26px;
  color: #ffffff;
  background-color: #70d38d;
  margin-right: 20px;
  position: relative;
  top: 50px;
}
.smallright ul li {
  display: block;
  margin-top: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #70d38d;
  padding-left: 7px;
  border-radius: 5px;
}
.smallright ul li:nth-child(1) a {
  font-size: 40px;
  line-height: 20px;
  padding-left: 3px;
}
.smallright ul li a {
  font-size: 24px;
  color: #ffffff;
}
.smallright ul li a .qq:hover .qqcode {
  opacity: 1;
  height: 200px;
}
.smallright ul li a .qqcode {
  background: url("../images/qq-a6f61de6f294.jpg") no-repeat;
  display: block;
  width: 150px;
  height: 0px;
  position: relative;
  right: 160px;
  bottom: 80px;
  opacity: 0;
  transition: all .5s linear;
}
.smallright ul li a .weixin:hover .weixincode {
  opacity: 1;
  height: 200px;
}
.smallright ul li a .weixin .weixincode {
  background: url("../images/weixin-288babfc543f.jpg") no-repeat;
  display: block;
  width: 150px;
  height: 0px;
  position: relative;
  right: 160px;
  bottom: 80px;
  opacity: 0;
  transition: all .5s linear;
}
.smallright:hover {
  margin-right: 0px;
}
.smallright:hover .smallogo {
  opacity: 0;
}
.footer {
  color: #ffffff;
}
.footer .footer-top {
  padding: 40px 0;
  background-color: #475025;
}
.footer .footer-top .around ul li a {
  font-size: 24px;
  color: #ffffff;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 45px;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.footer .footer-top .around ul li a:hover {
  color: #18bc9c;
  background-color: #fff;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
.footer .footer-top h3 {
  font-family: 'Poiret One', cursive;
  margin-bottom: 30px;
}
.footer .footer-bottom {
  background-color: #353a22;
  padding: 20px 0;
}
@keyframes rotate {
  0% {
    transform: translateX(-1117px) rotate(0deg);
  }
  100% {
    transform: translateX(0) rotate(1080deg);
  }
}
@media all and (min-width: 320px) and (max-width: 768px) {
  section figure img {
    margin: 0 auto;
  }
}
